.sessions_controller.new_action {
  .login.card {
    max-width: 24rem;
    margin-top: 4rem;

    .card-title {
      margin-bottom: 0;
      font-weight: 300;
    }

    .card-blockquote {
      margin-bottom: 0;
      font-weight: 300;

      p {
        margin-bottom: 0;
      }
    }
  }
}
