.users_controller {
  .avatar {
    img {
      width: 100%;
      height: auto;
    }
  }

  .access_token {
    .card-header {
      margin-bottom: 0;
    }

    .card-text {
      line-height: 2.0;
    }
  }
}
